.paintimg {
  margin-top: -5rem;
  margin-left: 3rem;
}

@media (max-width: 750px) {
  .paintimg {
    margin-top: 0;
    margin-left: 0;
  }
}

.container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 50px;
}
@media (max-width: 750px) {
  .card {
    width: 134%;
    right: 3rem;
  }
}

.slide {
  width: 30%;
  margin-left: 28rem;
}

@media (max-width: 750px) {
  .slide {
    margin: 0;
    width: 100%;
  }
}
.footer {
  padding: 40px 0;
  background-color: rgb(211, 211, 211);
}
.footer .social {
  text-align: center;
  padding-bottom: 25px;
}

.image-fluid2 {
  max-width: 100%;
  height: 100vh;
}
@media (max-width: 600px) {
  .image-fluid2 {
    height: 100%;
  }
}

.footer .social a {
  font-size: 34px;
  color: inherit;
  border: 1px solid #ccc;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  opacity: 0.5;
}

.footer .social a:hover {
  opacity: 0.9;
}

.footer ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}

.footer ul li a {
  color: inherit;
  text-decoration: none;
  opacity: 1;
}

.footer ul li {
  display: inline-block;
  padding: 0 15px;
}

.footer ul li a:hover {
  color: #777;
}

.footer .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: rgb(133, 133, 133);
}

.footer .copyright a {
  text-decoration: none;
  color: inherit;
}

.footer .copyright a:hover {
  color: rgb(65, 65, 65);
}

ol {
  list-style-type: square;
  color: white;
}

/* THE GALLERY SECTION*/
body {
  font-family: Arial;
  margin: 0;
}

* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.imagecontainer {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  position: absolute;
  top: 20%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
